# Environment Variables & Secret Keys
.env

# Virtual Environment
venv/
env/
.venv/

# Python Cache & Compiled Files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Local Data Samples & Model Checkpoints
data_samples/
checkpoints/
*.npy
*.tif
*.pth

# IDE & OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db
